<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130794024310-53cpbb7fdhr5eo2noslpagr0igmm1i0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130794024310-53cpbb7fdhr5eo2noslpagr0igmm1i0e</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Ln5t60s_yftuN-x_NjZbdhhZrh3T9BU</string>
	<key>GCM_SENDER_ID</key>
	<string>130794024310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mandaffaaord.cbswebapp</string>
	<key>PROJECT_ID</key>
	<string>react-first-41bb5</string>
	<key>STORAGE_BUCKET</key>
	<string>react-first-41bb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130794024310:ios:67bd522169eaf07218de57</string>
	<key>DATABASE_URL</key>
	<string>https://react-first-41bb5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>